html, body, #root
  width: 100%
  height: 100%

#root
  padding: 20px 0

.app-container
  margin: 0 auto
  max-width: 600px
  min-width: 400px
  min-height: 600px
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden

.app-header
  display: block

// Diary view
.diary-container
  position: relative

  .add-food
    font-size: 3em
    position: absolute
    right: 30px
    bottom: 20px

  .section-header
    padding: 10px 20px

.empty-message
  padding: 40px 0

// Search View
.add-food-container
  .search-form
    flex: 0 0 auto
    input
      width: 100%
      padding: 20px

  .date-time
    display: flex
    justify-content: center
    align-items: center
    flex: 0 0 auto
    height: 50px

    .timepicker
      margin-left: 20px
      display: flex
      align-items: center



// Common
.add-food-header,
.diary-header
  display: flex
  flex: 0 0 auto
  justify-content: space-between
  align-items: center

  a
    width: 70px
    padding: 0 20px

    &:last-child
      text-align: right

.add-food-container,
.diary-container
  flex: 1
  overflow-y: hidden
  display: flex
  flex-direction: column


.search-results-container,
.diary-content
  overflow-y: auto
  padding-bottom: 80px

.search-result,
.diary-entry
  padding: 20px 20px
  display: flex
  width: 100%
  align-items: center

.spinner-container
  padding-top: 50px

