@import "config/color"
@import "font-awesome-mixin"

a
  color: $color-primary
  &:hover, &:active
    color: $color-secondary

html, body
  color: $color-dark
  background: $color-dark

.app-container
  background: $color-light

.app-header
  @include fa($fa-heartbeat)
  background: $color-primary
  color: $color-light

// Diary View
.diary-container
  .previous-day
    @include fa($fa-chevron-left)

  .next-day
    @include fa($fa-chevron-right)

  .add-food
    @include fa($fa-plus-circle)

// Search Form
.add-food-container
  .cancel-button
    @include fa($fa-chevron-left)

  .search-form input
    border: none
    outline: none
    border-top: 1px solid rgba($color-primary, 0.7)
    border-bottom: 1px solid rgba($color-primary, 0.7)
    font-size: 1.2em
    background: lighter($color-light, 100%)

  .search-result
    @include fa($fa-search)
    &:before
      color: $color-secondary
      font-size: 1.2em
      margin-right: 15px

  .date-time
    font-size: 1.1em

  .timepicker
    @include fa($fa-clock-o)
    &:before
      margin-right: 15px


// Common
.add-food-header,
.diary-header
  a
    font-size: 1.5em

.search-result,
.diary-entry
  border-top: 1px solid rgba($color-primary, 0.3)
  font-size: 1em

  &:last-child
    border-bottom: 1px solid rgba($color-primary, 0.3)

  &:hover
    background: rgba($color-secondary, 0.2)

.empty-message
  color: $color-gray
  font-style: italic
  text-align: center

.spinner-container
  display: flex
  justify-content: center

  .spinner
    @include fa($fa-cog)
    font-size: 3em


// Component
.datepicker
  @include fa($fa-calendar)
  &:before
    margin-right: 15px

  .date
    color: inherit
    @extend %datetime-hover

%datetime-hover
  border-bottom: 4px solid transparent;
  &:hover
    border-bottom: 4px solid $color-secondary;

.period-value
  @extend %datetime-hover
