@import "../sharedStyles/color"
@import "../sharedStyles/font-awesome"


#root
  padding: 20px 0
  @media (max-width: 600px)
    padding: 0

.app-container
  background: $color-light
  margin: 0 auto
  width: 100%
  min-width: 360px
  max-width: 600px
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden

  @media (max-width: 600px)
    width: 100%;

.app-header
  display: block
  background: $color-primary
  transition: background 200ms ease

  &:hover, &:active
    background: darken($color-primary, 10%)

  h1
    @include fa($fa-heartbeat)
    color: $color-light

    @media (max-width: 600px)
      padding: 5px
      text-transform: uppercase

@media (max-width: 600px)
  body
    font-size: 13px
  h2
    font-size: 1.2em



.app-body
  position: relative
  width: 100%
  height: 100%

  > div
    background: $color-light
    position: absolute
    width: 100%
    height: 100%

.app-body
  .animation-enter
    opacity: 0.01

  .animation-enter.animation-enter-active
    opacity: 1
    transition: opacity 500ms ease, transform 500ms ease

  .animation-leave
    opacity: 1

  .animation-leave.animation-leave-active
    opacity: 0.01
    transition: opacity 500ms ease, transform 500ms ease

  &.slideUp
    .animation-enter
      transform: translateY(100%)

    .animation-enter.animation-enter-active
      transform: translateY(0)

  &.slideDown
    .animation-leave
      transform: translateY(0)

    .animation-leave.animation-leave-active
      transform: translateY(100%)

  &.slideLeft
    .animation-enter
      transform: translateX(100%)
    .animation-enter.animation-enter-active
      transform: translateX(0)
    .animation-leave
      transform: translateX(0)
    .animation-leave.animation-leave-active
      transform: translateX(-100%)

  &.slideRight
    .animation-enter
      transform: translateX(-100%)
    .animation-enter.animation-enter-active
      transform: translateX(0)
    .animation-leave
      transform: translateX(0)
    .animation-leave.animation-leave-active
      transform: translateX(100%)

.github-corner
  @media (max-width: 600px)
    display: none
